Hotels_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@pipeline().parameters.files",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                          "value": "/Matt-60/Hotel-Bookings_End-to-End_Project_Fabric/refs/heads/main/datasets/@{item().file}.csv",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "286d0908-7998-4ccd-866d-4ea693c1fe47"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Upsert",
                  "applyVOrder": false,
                  "upsertSettings": {
                    "keys": {
                      "value": "@item().key",
                      "type": "Expression"
                    }
                  },
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "schema": "raw",
                      "table": {
                        "value": "@item().file",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Bronze_hotels_Lh",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "c5647b75-5216-8ad1-419c-684e1c761ff9",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.1:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach",
        "dependsOn": []
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "db2f0d6f-60cf-883e-4c20-a218ce1cc591",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric",
          "executeMashupQueriesOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow1",
        "dependsOn": [
          {
            "activity": "ForEach",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "17ea4294-c3b9-aa47-4536-95f8c034a740",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric",
          "executeMashupQueriesOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow2",
        "dependsOn": [
          {
            "activity": "Dataflow1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "files": {
        "type": "array",
        "defaultValue": [
          {
            "file": "bookings",
            "key": [
              "booking_id"
            ]
          },
          {
            "file": "rooms",
            "key": [
              "room_id"
            ]
          },
          {
            "file": "hotels",
            "key": [
              "hotel_id"
            ]
          },
          {
            "file": "guests",
            "key": [
              "guest_id"
            ]
          },
          {
            "file": "reviews",
            "key": [
              "review_id"
            ]
          }
        ]
      }
    }
  }
}